<head>
    <%= stylesheet_link_tag 'ashow', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<h1 class="match-result__title">診断結果</h1>
    <p class="match-result__lead">あなたの選択</p>
    <% q1_labels = {
      "1"=>"保健・医療・福祉","2"=>"社会教育","3"=>"まちづくり","4"=>"観光振興","5"=>"農山漁村・中山間地域",
      "6"=>"学術・文化・芸術・スポーツ","7"=>"環境保全","8"=>"災害救援","9"=>"地域安全","10"=>"人権擁護・平和推進",
      "11"=>"国際協力","12"=>"男女共同参画","13"=>"子どもの健全育成","14"=>"情報化社会","15"=>"科学技術振興",
      "16"=>"経済の活性化","17"=>"職業能力開発","18"=>"消費者保護","19"=>"活動の連絡・助言・援助"
    } %>
    <% q2_labels = { "1"=>"年代：学生・若者がいる", "2"=>"年代：ベテランがいる", "3"=>"年代：こだわらない" } %>
    <% q3_labels = { "1"=>"年会費：無料", "2"=>"年会費：6,000円以下", "3"=>"年会費：6,000円超" } %>
    <% q4_labels = { "1"=>"規模：～50万円", "2"=>"規模：50万〜500万円", "3"=>"規模：500万円～" } %>

    <ul class="chips">
      <li class="chip"><%= q1_labels[@association.question1] %></li>
      <li class="chip"><%= q2_labels[@association.question2] %></li>
      <li class="chip"><%= q3_labels[@association.question3] %></li>
      <li class="chip"><%= q4_labels[@association.question4] %></li>
    </ul>

<div class="intoro">
  <p>あなたにおすすめの地域団体は…</p>
</div>

<div class="association-container">
  <% case [@association.question1, @association.question2, @association.question3, @association.question4] %>
  <% when ["1", "1", "1", "1"] %>
    <h6>保険・医療・福祉</h6>
    <p>PuHU ～わくわくする健康おせっかい～（旧コミュニティナース茅ヶ崎）</p>
    <p>にじいろ・ひまわり</p>
    <p>Horse Buddy （ほーすばでぃ）</p>

  <% when ["2", "1", "1", "1"] %>
    <h6>社会教育</h6>
    <p>茅ヶ崎CAD部</p>
    <p>特定非営利活動法人 こども応援丸</p>
    <p>わわわのわ</p>
  
  <% when ["3", "1", "1", "1"] %>
    <h6>まちづくり</h6>
    <p>特定非営利活動法人 こども応援丸</p>
    <p>PuHU ～わくわくする健康おせっかい～（旧コミュニティナース茅ヶ崎）</p>
    <p>TAKURAMI不動産</p>
    <p>Horse Buddy （ほーすばでぃ）</p>
    <p>わわわのわ</p>

  <% when ["4", "1", "1", "1"] %>
    <h6>観光振興</h6>
    <p>該当する市民活動団体はありませんでした。</p>
    <p>選択を変更して、再診断してください。</p>

  <% when ["5", "1", "1", "1"] %>
    <h6>農村漁村・中山間地域</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["6", "1", "1", "1"] %>
    <h6>学術・文化・芸術・スポーツ</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["7", "1", "1", "1"] %>
    <h6>環境保全</h6>
    <p>湘南ウキブイ</p>

  <% when ["8", "1", "1", "1"] %>
    <h6>災害救援</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["9", "1", "1", "1"] %>
    <h6>地域安全</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["10", "1", "1", "1"] %>
    <h6>人権擁護・平和推進</h6>
    <p>9の日スタンディング★ちがさき</p>

  <% when ["11", "1", "1", "1"] %>
    <h6>国際協力</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["12", "1", "1", "1"] %>
    <h6>男女共同参画</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["13", "1", "1", "1"] %>
    <h6>子どもの健全育成</h6>
    <p>にこにこサークル</p>
    <p>特定非営利活動法人 セカンドブックアーチ</p>
    <p>未来の瞳</p>
    <p>特定非営利活動法人 こども応援丸</p>
    <p>Horse Buddy （ほーすばでぃ）</p>
    <p>わわわのわ</p>

  <% when ["14", "1", "1", "1"] %>
    <h6>情報化社会</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["15", "1", "1", "1"] %>
    <h6>科学技術振興</h6>
    <p>茅ヶ崎CAD部</p>

  <% when ["16", "1", "1", "1"] %>
    <h6>経済の活性化</h6>
    <p>TAKURAMI不動産</p>

  <% when ["17", "1", "1", "1"] %>
    <h6>職業能力開発</h6>
    <p>茅ヶ崎CAD部</p>

  <% when ["18", "1", "1", "1"] %>
    <h6>消費者保護</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["19", "1", "1", "1"] %>
    <h6>活動の連絡・助言・援助</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["1", "1", "1", "2"] %>
    <h6>保険・医療・福祉</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["2", "1", "1", "2"] %>
    <h6>社会教育</h6>
    <p>湘南１Ｌｅｂｅｎ</p>
  
  <% when ["3", "1", "1", "2"] %>
    <h6>まちづくり</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["4", "1", "1", "2"] %>
    <h6>観光振興</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["5", "1", "1", "2"] %>
    <h6>農村漁村・中山間地域</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["6", "1", "1", "2"] %>
    <h6>学術・文化・芸術・スポーツ</h6>
    <p>TAMURA　KING</p>

  <% when ["7", "1", "1", "2"] %>
    <h6>環境保全</h6>
    <p>湘南１Ｌｅｂｅｎ</p>

  <% when ["8", "1", "1", "2"] %>
    <h6>災害救援</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["9", "1", "1", "2"] %>
    <h6>地域安全</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["10", "1", "1", "2"] %>
    <h6>人権擁護・平和推進</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["11", "1", "1", "2"] %>
    <h6>国際協力</h6>
    <p>TAMURA　KING</p>

  <% when ["12", "1", "1", "2"] %>
    <h6>男女共同参画</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["13", "1", "1", "2"] %>
    <h6>子どもの健全育成</h6>
    <p>湘南１Ｌｅｂｅｎ</p>

  <% when ["14", "1", "1", "2"] %>
    <h6>情報化社会</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["15", "1", "1", "2"] %>
    <h6>科学技術振興</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["16", "1", "1", "2"] %>
    <h6>経済の活性化</h6>
    <p>TAMURA　KING</p>

  <% when ["17", "1", "1", "2"] %>
    <h6>職業能力開発</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["18", "1", "1", "2"] %>
    <h6>消費者保護</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["19", "1", "1", "2"] %>
    <h6>活動の連絡・助言・援助</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["1", "1", "1", "3"] %>
    <h6>保険・医療・福祉</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["2", "1", "1", "3"] %>
    <h6>社会教育</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>
  
  <% when ["3", "1", "1", "3"] %>
    <h6>まちづくり</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["4", "1", "1", "3"] %>
    <h6>観光振興</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["5", "1", "1", "3"] %>
    <h6>農村漁村・中山間地域</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["6", "1", "1", "3"] %>
    <h6>学術・文化・芸術・スポーツ</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["7", "1", "1", "3"] %>
    <h6>環境保全</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["8", "1", "1", "3"] %>
    <h6>災害救援</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["9", "1", "1", "3"] %>
    <h6>地域安全</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["10", "1", "1", "3"] %>
    <h6>人権擁護・平和推進</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["11", "1", "1", "3"] %>
    <h6>国際協力</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["12", "1", "1", "3"] %>
    <h6>男女共同参画</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["13", "1", "1", "3"] %>
    <h6>子どもの健全育成</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["14", "1", "1", "3"] %>
    <h6>情報化社会</h6>
    <p>一般社団法人 エール茅ヶ崎</p>

  <% when ["15", "1", "1", "3"] %>
    <h6>科学技術振興</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["16", "1", "1", "3"] %>
    <h6>経済の活性化</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["17", "1", "1", "3"] %>
    <h6>職業能力開発</h6>
    <p>一般社団法人 エール茅ヶ崎</p>

  <% when ["18", "1", "1", "3"] %>
    <h6>消費者保護</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["19", "1", "1", "3"] %>
    <h6>活動の連絡・助言・援助</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["1", "1", "2", "1"] %>
    <h6>保険・医療・福祉</h6>
    <p>愛のハガキグループ　一葉会</p>
    <p>手話サークル フレンズ</p>
    <p>茅ヶ崎手話サークル松の会</p>
    <p>茅ヶ崎市聴覚障害者協会</p>

  <% when ["2", "1", "2", "1"] %>
    <h6>社会教育</h6>
    <p>ふらっと南湖</p>
  
  <% when ["3", "1", "2", "1"] %>
    <h6>まちづくり</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["4", "1", "2", "1"] %>
    <h6>観光振興</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["5", "1", "2", "1"] %>
    <h6>農村漁村・中山間地域</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["6", "1", "2", "1"] %>
    <h6>学術・文化・芸術・スポーツ</h6>
    <p>茅ヶ崎フロアボール協会</p>

  <% when ["7", "1", "2", "1"] %>
    <h6>環境保全</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["8", "1", "2", "1"] %>
    <h6>災害救援</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["9", "1", "2", "1"] %>
    <h6>地域安全</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["10", "1", "2", "1"] %>
    <h6>人権擁護・平和推進</h6>
    <p>ふらっと南湖</p>

  <% when ["11", "1", "2", "1"] %>
    <h6>国際協力</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["12", "1", "2", "1"] %>
    <h6>男女共同参画</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["13", "1", "2", "1"] %>
    <h6>子どもの健全育成</h6>
    <p>ふらっと南湖</p>

  <% when ["14", "1", "2", "1"] %>
    <h6>情報化社会</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["15", "1", "2", "1"] %>
    <h6>科学技術振興</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["16", "1", "2", "1"] %>
    <h6>経済の活性化</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["17", "1", "2", "1"] %>
    <h6>職業能力開発</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["18", "1", "2", "1"] %>
    <h6>消費者保護</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["19", "1", "2", "1"] %>
    <h6>活動の連絡・助言・援助</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["1", "1", "2", "2"] %>
    <h6>保険・医療・福祉</h6>
    <p>特定非営利活動法人 ウェルフェアポート湘南 神奈川介助犬・聴導犬協会</p>

  <% when ["2", "1", "2", "2"] %>
    <h6>社会教育</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>
  
  <% when ["3", "1", "2", "2"] %>
    <h6>まちづくり</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["4", "1", "2", "2"] %>
    <h6>観光振興</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["5", "1", "2", "2"] %>
    <h6>農村漁村・中山間地域</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["6", "1", "2", "2"] %>
    <h6>学術・文化・芸術・スポーツ</h6>
    <p>一般社団法人 茅ヶ崎ラグビースクール</p>

  <% when ["7", "1", "2", "2"] %>
    <h6>環境保全</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["8", "1", "2", "2"] %>
    <h6>災害救援</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["9", "1", "2", "2"] %>
    <h6>地域安全</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["10", "1", "2", "2"] %>
    <h6>人権擁護・平和推進</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["11", "1", "2", "2"] %>
    <h6>国際協力</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["12", "1", "2", "2"] %>
    <h6>男女共同参画</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["13", "1", "2", "2"] %>
    <h6>子どもの健全育成</h6>
    <p>特定非営利活動法人 発達サポートネット　バオバブの樹</p>

  <% when ["14", "1", "2", "2"] %>
    <h6>情報化社会</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["15", "1", "2", "2"] %>
    <h6>科学技術振興</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["16", "1", "2", "2"] %>
    <h6>経済の活性化</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["17", "1", "2", "2"] %>
    <h6>職業能力開発</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["18", "1", "2", "2"] %>
    <h6>消費者保護</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["19", "1", "2", "2"] %>
    <h6>活動の連絡・助言・援助</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["1", "1", "2", "3"] %>
    <h6>保険・医療・福祉</h6>
    <p>地域活動支援センター　サザンベア</p>

  <% when ["2", "1", "2", "3"] %>
    <h6>社会教育</h6>
    <p>NPO法人 森の仔じゆうがっこう</p>
  
  <% when ["3", "1", "2", "3"] %>
    <h6>まちづくり</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["4", "1", "2", "3"] %>
    <h6>観光振興</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["5", "1", "2", "3"] %>
    <h6>農村漁村・中山間地域</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["6", "1", "2", "3"] %>
    <h6>学術・文化・芸術・スポーツ</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["7", "1", "2", "3"] %>
    <h6>環境保全</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["8", "1", "2", "3"] %>
    <h6>災害救援</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["9", "1", "2", "3"] %>
    <h6>地域安全</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["10", "1", "2", "3"] %>
    <h6>人権擁護・平和推進</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["11", "1", "2", "3"] %>
    <h6>国際協力</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["12", "1", "2", "3"] %>
    <h6>男女共同参画</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["13", "1", "2", "3"] %>
    <h6>子どもの健全育成</h6>
    <p>特定非営利活動法人 ワーコレたんぽぽひろば</p>
    <p>NPO法人 森の仔じゆうがっこう</p>

  <% when ["14", "1", "2", "3"] %>
    <h6>情報化社会</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["15", "1", "2", "3"] %>
    <h6>科学技術振興</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["16", "1", "2", "3"] %>
    <h6>経済の活性化</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["17", "1", "2", "3"] %>
    <h6>職業能力開発</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["18", "1", "2", "3"] %>
    <h6>消費者保護</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["19", "1", "2", "3"] %>
    <h6>活動の連絡・助言・援助</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["1", "1", "3", "1"] %>
    <h6>保険・医療・福祉</h6>
    <p>茅ヶ崎断酒新生会</p>

  <% when ["2", "1", "3", "1"] %>
    <h6>社会教育</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>
  
  <% when ["3", "1", "3", "1"] %>
    <h6>まちづくり</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["4", "1", "3", "1"] %>
    <h6>観光振興</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["5", "1", "3", "1"] %>
    <h6>農村漁村・中山間地域</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["6", "1", "3", "1"] %>
    <h6>学術・文化・芸術・スポーツ</h6>
    <p>合気会公認道場　相模合気会</p>
    <p>フラサークル　カメアロハ</p>
    <p>茅ヶ崎スクエアダンスクラブ</p>

  <% when ["7", "1", "3", "1"] %>
    <h6>環境保全</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["8", "1", "3", "1"] %>
    <h6>災害救援</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["9", "1", "3", "1"] %>
    <h6>地域安全</h6>
    <p>茅ヶ崎断酒新生会</p>

  <% when ["10", "1", "3", "1"] %>
    <h6>人権擁護・平和推進</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["11", "1", "3", "1"] %>
    <h6>国際協力</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["12", "1", "3", "1"] %>
    <h6>男女共同参画</h6>
    <p>茅ヶ崎断酒新生会</p>

  <% when ["13", "1", "3", "1"] %>
    <h6>子どもの健全育成</h6>
    <p>ひよこの会</p>
    <p>合気会公認道場　相模合気会</p>
    <p>ボーイスカウト茅ヶ崎第一団</p>

  <% when ["14", "1", "3", "1"] %>
    <h6>情報化社会</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["15", "1", "3", "1"] %>
    <h6>科学技術振興</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["16", "1", "3", "1"] %>
    <h6>経済の活性化</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["17", "1", "3", "1"] %>
    <h6>職業能力開発</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["18", "1", "3", "1"] %>
    <h6>消費者保護</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["19", "1", "3", "1"] %>
    <h6>活動の連絡・助言・援助</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["1", "1", "3", "2"] %>
    <h6>保険・医療・福祉</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["2", "1", "3", "2"] %>
    <h6>社会教育</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>
  
  <% when ["3", "1", "3", "2"] %>
    <h6>まちづくり</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["4", "1", "3", "2"] %>
    <h6>観光振興</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["5", "1", "3", "2"] %>
    <h6>農村漁村・中山間地域</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["6", "1", "3", "2"] %>
    <h6>学術・文化・芸術・スポーツ</h6>
    <p>茅ヶ崎市民美術サークル</p>
    <p>リトルアポロンズ</p>
    <p>茅ヶ崎市文化団体協議会</p>
    <p>認定NPO法人 湘南フィルハーモニー管弦楽団</p>

  <% when ["7", "1", "3", "2"] %>
    <h6>環境保全</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["8", "1", "3", "2"] %>
    <h6>災害救援</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["9", "1", "3", "2"] %>
    <h6>地域安全</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["10", "1", "3", "2"] %>
    <h6>人権擁護・平和推進</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["11", "1", "3", "2"] %>
    <h6>国際協力</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["12", "1", "3", "2"] %>
    <h6>男女共同参画</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["13", "1", "3", "2"] %>
    <h6>子どもの健全育成</h6>
    <p>茅ヶ崎おやこ劇場</p>
    <p>一般社団法人 湘南サドベリースクール</p>
    <p>B.exciting　（びー. えきさいてぃんぐ）</p>
    <p>ボーイスカウト茅ヶ崎第二団</p>

  <% when ["14", "1", "3", "2"] %>
    <h6>情報化社会</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["15", "1", "3", "2"] %>
    <h6>科学技術振興</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["16", "1", "3", "2"] %>
    <h6>経済の活性化</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["17", "1", "3", "2"] %>
    <h6>職業能力開発</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["18", "1", "3", "2"] %>
    <h6>消費者保護</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["19", "1", "3", "2"] %>
    <h6>活動の連絡・助言・援助</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["1", "1", "3", "3"] %>
    <h6>保険・医療・福祉</h6>
    <p>NPO法人 森の仔じゆうがっこう</p>

  <% when ["2", "1", "3", "3"] %>
    <h6>社会教育</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>
  
  <% when ["3", "1", "3", "3"] %>
    <h6>まちづくり</h6>
    <p>特定非営利活動法人 湘南スタイル</p>

  <% when ["4", "1", "3", "3"] %>
    <h6>観光振興</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["5", "1", "3", "3"] %>
    <h6>農村漁村・中山間地域</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["6", "1", "3", "3"] %>
    <h6>学術・文化・芸術・スポーツ</h6>
    <p>NPO法人 茅ヶ崎演劇鑑賞会</p>

  <% when ["7", "1", "3", "3"] %>
    <h6>環境保全</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["8", "1", "3", "3"] %>
    <h6>災害救援</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["9", "1", "3", "3"] %>
    <h6>地域安全</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["10", "1", "3", "3"] %>
    <h6>人権擁護・平和推進</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["11", "1", "3", "3"] %>
    <h6>国際協力</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["12", "1", "3", "3"] %>
    <h6>男女共同参画</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["13", "1", "3", "3"] %>
    <h6>子どもの健全育成</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["14", "1", "3", "3"] %>
    <h6>情報化社会</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["15", "1", "3", "3"] %>
    <h6>科学技術振興</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["16", "1", "3", "3"] %>
    <h6>経済の活性化</h6>
    <p>特定非営利活動法人 湘南スタイル</p>

  <% when ["17", "1", "3", "3"] %>
    <h6>職業能力開発</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["18", "1", "3", "3"] %>
    <h6>消費者保護</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["19", "1", "3", "3"] %>
    <h6>活動の連絡・助言・援助</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["1", "2", "1", "1"] %>
    <h6>保険・医療・福祉</h6>
    <p>松林ケアセンター　友の会</p>
    <p>湘南オンラインフレネ</p>
    <p>一般社団法人 神奈川健康生きがいづくりｱﾄﾞﾊﾞｲｻﾞｰ協議会湘南地区ﾈｯﾄ</p>
    <p>医療生協かながわ・茅ヶ崎寒川ブロック</p>
    <p>一般社団法人 まるわ福祉会　成年後見相談室ひまわり</p>
    <p>PuHU ～わくわくする健康おせっかい～（旧コミュニティナース茅ヶ崎）</p>
    <p>にじいろ・ひまわり</p>
    <p>Horse Buddy （ほーすばでぃ）</p>

  <% when ["2", "2", "1", "1"] %>
    <h6>社会教育</h6>
    <p>茅ヶ崎市明るい選挙推進協議会</p>
    <p>特定非営利活動法人 こども応援丸</p>
    <p>わわわのわ</p>
  
  <% when ["3", "2", "1", "1"] %>
    <h6>まちづくり</h6>
    <p>一般社団法人 神奈川健康生きがいづくりｱﾄﾞﾊﾞｲｻﾞｰ協議会湘南地区ﾈｯﾄ</p>
    <p>赤とんぼ・甚句を歌う 茅ヶ崎と山田耕筰の会</p>
    <p>マザーアース茅ヶ崎</p>
    <p>特定非営利活動法人 こども応援丸</p>
    <p>未来を考える市民の会</p>
    <p>PuHU ～わくわくする健康おせっかい～（旧コミュニティナース茅ヶ崎）</p>
    <p>Horse Buddy （ほーすばでぃ）</p>
    <p>わわわのわ</p>

  <% when ["4", "2", "1", "1"] %>
    <h6>観光振興</h6>
    <p>ふくの会</p>

  <% when ["5", "2", "1", "1"] %>
    <h6>農村漁村・中山間地域</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["6", "2", "1", "1"] %>
    <h6>学術・文化・芸術・スポーツ</h6>
    <p>歌声サロン「チーパッパ」</p>
    <p>MOA茅ヶ崎健康生活ネットワーク</p>
    <p>茅ヶ崎ヴォイス</p>
    <p>赤とんぼ・甚句を歌う 茅ヶ崎と山田耕筰の会</p>

  <% when ["7", "2", "1", "1"] %>
    <h6>環境保全</h6>
    <p>湘南みつばち倶楽部</p>
    <p>チームみつばち</p>

  <% when ["8", "2", "1", "1"] %>
    <h6>災害救援</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["9", "2", "1", "1"] %>
    <h6>地域安全</h6>
    <p>スマイルパークこわだ愛護会</p>
    <p>ラチエン通りの安全・安心を進める会</p>
    <p>KEEP LEFT PROJECT</p>
    <p>マザーアース茅ヶ崎</p>

  <% when ["10", "2", "1", "1"] %>
    <h6>人権擁護・平和推進</h6>
    <p>ピースカフェ・ちがさき</p>
    <p>九条の会・ちがさき</p>
    <p>ヒロシマを語る会－神奈川</p>
    <p>9の日スタンディング★ちがさき</p>
    <p>にじ色のたねを育てる会</p>
    <p>茅ヶ崎パトロール「チムグリサの会」</p>

  <% when ["11", "2", "1", "1"] %>
    <h6>国際協力</h6>
    <p>リメイクチーム</p>

  <% when ["12", "2", "1", "1"] %>
    <h6>男女共同参画</h6>
    <p>にじ色のたねを育てる会</p>

  <% when ["13", "2", "1", "1"] %>
    <h6>子どもの健全育成</h6>
    <p>茅ヶ崎おはなしの会</p>
    <p>ちがぼ～（茅ヶ崎に冒険あそび場をつくろう会）</p>
    <p>湘南みつばち倶楽部</p>
    <p>未来の瞳</p>
    <p>OTO-TOYハウス （おとといはうす）</p>
    <p>子ども未来塾・子ども未来塾～創（つくる）</p>
    <p>赤とんぼ・甚句を歌う 茅ヶ崎と山田耕筰の会</p>
    <p>キーパーソン21湘南</p>
    <p>特定非営利活動法人 こども応援丸</p>
    <p>Horse Buddy （ほーすばでぃ）</p>
    <p>わわわのわ</p>

  <% when ["14", "2", "1", "1"] %>
    <h6>情報化社会</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["15", "2", "1", "1"] %>
    <h6>科学技術振興</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["16", "2", "1", "1"] %>
    <h6>経済の活性化</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["17", "2", "1", "1"] %>
    <h6>職業能力開発</h6>
    <p>湘南オンラインフレネ</p>

  <% when ["18", "2", "1", "1"] %>
    <h6>消費者保護</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["19", "2", "1", "1"] %>
    <h6>活動の連絡・助言・援助</h6>
    <p>ちがさき市民オンブズマン</p>
  
  <% when ["1", "2", "1", "2"] %>
    <h6>保険・医療・福祉</h6>
    <p>特定非営利活動法人 萩桜会 （しゅうおうかい）</p>

  <% when ["2", "2", "1", "2"] %>
    <h6>社会教育</h6>
    <p>ちがさき開智舎</p>
    <p>湘南１Ｌｅｂｅｎ</p>
  
  <% when ["3", "2", "1", "2"] %>
    <h6>まちづくり</h6>
    <p>ゆめたい</p>

  <% when ["4", "2", "1", "2"] %>
    <h6>観光振興</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["5", "2", "1", "2"] %>
    <h6>農村漁村・中山間地域</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["6", "2", "1", "2"] %>
    <h6>学術・文化・芸術・スポーツ</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["7", "2", "1", "2"] %>
    <h6>環境保全</h6>
    <p>特定非営利活動法人 萩桜会 （しゅうおうかい）</p>
    <p>湘南１Ｌｅｂｅｎ</p>

  <% when ["8", "2", "1", "2"] %>
    <h6>災害救援</h6>
    <p>防災スイッチオン！プロジェクト</p>

  <% when ["9", "2", "1", "2"] %>
    <h6>地域安全</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["10", "2", "1", "2"] %>
    <h6>人権擁護・平和推進</h6>
    <p>ちがさき開智舎</p>

  <% when ["11", "2", "1", "2"] %>
    <h6>国際協力</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["12", "2", "1", "2"] %>
    <h6>男女共同参画</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["13", "2", "1", "2"] %>
    <h6>子どもの健全育成</h6>
    <p>特定非営利活動法人 萩桜会 （しゅうおうかい）</p>
    <p>ちがさき開智舎</p>
    <p>湘南１Ｌｅｂｅｎ</p>
    <p>鶴が台名店街に地域の居場所をつくる会</p>

  <% when ["14", "2", "1", "2"] %>
    <h6>情報化社会</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["15", "2", "1", "2"] %>
    <h6>科学技術振興</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["16", "2", "1", "2"] %>
    <h6>経済の活性化</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["17", "2", "1", "2"] %>
    <h6>職業能力開発</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["18", "2", "1", "2"] %>
    <h6>消費者保護</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["19", "2", "1", "2"] %>
    <h6>活動の連絡・助言・援助</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["1", "2", "1", "3"] %>
    <h6>保険・医療・福祉</h6>
    <p>特定非営利活動法人 松の実会　地域活動支援センター　パインナッツ</p>
    <p>特定非営利活動法人 ワーカーズ・コレクティブ　一心</p>
    <p>一般社団法人 エール茅ヶ崎</p>

  <% when ["2", "2", "1", "3"] %>
    <h6>社会教育</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>
  
  <% when ["3", "2", "1", "3"] %>
    <h6>まちづくり</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["4", "2", "1", "3"] %>
    <h6>観光振興</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["5", "2", "1", "3"] %>
    <h6>農村漁村・中山間地域</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["6", "2", "1", "3"] %>
    <h6>学術・文化・芸術・スポーツ</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["7", "2", "1", "3"] %>
    <h6>環境保全</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["8", "2", "1", "3"] %>
    <h6>災害救援</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["9", "2", "1", "3"] %>
    <h6>地域安全</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["10", "2", "1", "3"] %>
    <h6>人権擁護・平和推進</h6>
    <p>特定非営利活動法人 湘南ふくしネットワークオンブズマン</p>

  <% when ["11", "2", "1", "3"] %>
    <h6>国際協力</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["12", "2", "1", "3"] %>
    <h6>男女共同参画</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["13", "2", "1", "3"] %>
    <h6>子どもの健全育成</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["14", "2", "1", "3"] %>
    <h6>情報化社会</h6>
    <p>一般社団法人 エール茅ヶ崎</p>

  <% when ["15", "2", "1", "3"] %>
    <h6>科学技術振興</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["16", "2", "1", "3"] %>
    <h6>経済の活性化</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["17", "2", "1", "3"] %>
    <h6>職業能力開発</h6>
    <p>一般社団法人 エール茅ヶ崎</p>

  <% when ["18", "2", "1", "3"] %>
    <h6>消費者保護</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["19", "2", "1", "3"] %>
    <h6>活動の連絡・助言・援助</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["1", "2", "2", "1"] %>
    <h6>保険・医療・福祉</h6>
    <p>茅ヶ崎録音ボランティアなかま</p>
    <p>にこにこクラブ</p>
    <p>愛のハガキグループ　一葉会</p>
    <p>茅ヶ崎誘導グループ　草笛</p>
    <p>茅ヶ崎録音奉仕会</p>
    <p>手話サークル茅の会</p>
    <p>茅ヶ崎手話サークル松の会</p>
    <p>仲間づくりかよう会</p>
    <p>筆記通訳サークル「虹」</p>
    <p>小さな手</p>
    <p>湘南おやじの会</p>
    <p>茅ヶ崎市視覚障害者福祉協会</p>
    <p>茅ヶ崎市聴覚障害者協会</p>
    <p>みんなのサロン「和」（なごみ）</p>
    <p>傾聴ボランティア茅ヶ崎</p>
    <p>家族ピア　ハートフルひまわり</p>
    <p>このゆびとぉ～まれ。</p>
    <p>茅ヶ崎ラフターヨガクラブ</p>
    <p>茅ヶ崎楽友会 （ちがさきらくゆうかい）</p>
    <p>茅ヶ崎市合理的配慮促進条例を考える会</p>
    <p>失語症会話カフェ茅ヶ崎</p>

  <% when ["2", "2", "2", "1"] %>
    <h6>社会教育</h6>
    <p>湘南シニアクラブ</p>
    <p>茅ヶ崎民話の会</p>
    <p>茅ヶ崎郷土会</p>
    <p>特定非営利活動法人 コネット湘南</p>
    <p>NPO法人 ゆい</p>
    <p>茅ヶ崎紙芝居研究会“さわやか”</p>
    <p>ふらっと南湖</p>
  
  <% when ["3", "2", "2", "1"] %>
    <h6>まちづくり</h6>
    <p>茅ヶ崎郷土会</p>
    <p>フォーラム　ちがさき</p>
    <p>神奈川県地球温暖化防止活動推進員湘南グループ</p>
    <p>ＧＥＮＫＩ プロジェクト</p>
    <p>茅ヶ崎市合理的配慮促進条例を考える会</p>

  <% when ["4", "2", "2", "1"] %>
    <h6>観光振興</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["5", "2", "2", "1"] %>
    <h6>農村漁村・中山間地域</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["6", "2", "2", "1"] %>
    <h6>学術・文化・芸術・スポーツ</h6>
    <p>茅ヶ崎・宮澤賢治の会</p>
    <p>「山田耕筰」と「赤とんぼ」を愛する会</p>
    <p>茅ヶ崎民話の会</p>
    <p>茅ヶ崎紙芝居研究会“さわやか”</p>
    <p>建築デザインクラブ</p>
    <p>フォークを唄おう</p>
    <p>湘南を記録する会</p>
    <p>リメイクチーム</p>
    <p>新ハイキングクラブ 横浜支部</p>
    <p>ちがさき和食文化継承会</p>

  <% when ["7", "2", "2", "1"] %>
    <h6>環境保全</h6>
    <p>香川自然観察会</p>
    <p>清水谷を愛する会</p>
    <p>駒寄川　水と緑と風の会</p>
    <p>NPO法人 ゆい</p>
    <p>湘南ネコ33 （しょうなんねこみみ）</p>
    <p>リメイクチーム</p>
    <p>相模川の河畔林を育てる会</p>

  <% when ["8", "2", "2", "1"] %>
    <h6>災害救援</h6>
    <p>茅ヶ崎セフティコミュニティアマチュア無線クラブ</p>

  <% when ["9", "2", "2", "1"] %>
    <h6>地域安全</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["10", "2", "2", "1"] %>
    <h6>人権擁護・平和推進</h6>
    <p>原水爆禁止茅ヶ崎市協議会（市原水協）</p>
    <p>ミクシテ「茅ヶ崎市ジェンダー平等推進計画」を推進する会</p>
    <p>ふらっと南湖</p>

  <% when ["11", "2", "2", "1"] %>
    <h6>国際協力</h6>
    <p>ネパール教育支援の会NESA茅ヶ崎事務所</p>

  <% when ["12", "2", "2", "1"] %>
    <h6>男女共同参画</h6>
    <p>ミクシテ「茅ヶ崎市ジェンダー平等推進計画」を推進する会</p>

  <% when ["13", "2", "2", "1"] %>
    <h6>子どもの健全育成</h6>
    <p>きらきらぼし（子育ち応援する会）</p>
    <p>茅ヶ崎紙芝居研究会“さわやか”</p>
    <p>ソーラーハウスにしかわ</p>
    <p>ふらっと南湖</p>

  <% when ["14", "2", "2", "1"] %>
    <h6>情報化社会</h6>
    <p>Web研（旧オンラインホームページサークル）</p>

  <% when ["15", "2", "2", "1"] %>
    <h6>科学技術振興</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["16", "2", "2", "1"] %>
    <h6>経済の活性化</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["17", "2", "2", "1"] %>
    <h6>職業能力開発</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["18", "2", "2", "1"] %>
    <h6>消費者保護</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["19", "2", "2", "1"] %>
    <h6>活動の連絡・助言・援助</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["1", "2", "2", "2"] %>
    <h6>保険・医療・福祉</h6>
    <p>ボランティア香川</p>
    <p>茅ヶ崎手をつなぐ育成会</p>
    <p>イーハトーブ湘南</p>
    <p>特定非営利活動法人 ウェルフェアポート湘南 神奈川介助犬・聴導犬協会</p>
    <p>サンチャイ・ネパール ねぱるぱ</p>
    <p>NPO法人 ニッポン・アクティブライフ・クラブ湘南ブロック</p>
    <p>みんなの居場所 びすた～り</p>

  <% when ["2", "2", "2", "2"] %>
    <h6>社会教育</h6>
    <p>布えほんグループ「コスモス｣</p>
    <p>NPO法人 赤ちゃんからのアートフレンドシップ協会</p>
  
  <% when ["3", "2", "2", "2"] %>
    <h6>まちづくり</h6>
    <p>イーハトーブ湘南</p>

  <% when ["4", "2", "2", "2"] %>
    <h6>観光振興</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["5", "2", "2", "2"] %>
    <h6>農村漁村・中山間地域</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["6", "2", "2", "2"] %>
    <h6>学術・文化・芸術・スポーツ</h6>
    <p>一般社団法人 茅ヶ崎ラグビースクール</p>
    <p>茅ヶ崎市ターゲット・バードゴルフ協会</p>
    <p>湘南Liebe</p>
    <p>湘南SHOW点 （しょうなんしょーてん）</p>
    <p>日本吟心流詩吟 國舟会 （にっぽんぎんしんりゅうしぎん　こくしゅうかい）</p>
    <p>じゃおクラブ湘南</p>
    <p>NPO法人 赤ちゃんからのアートフレンドシップ協会</p>

  <% when ["7", "2", "2", "2"] %>
    <h6>環境保全</h6>
    <p>NPO法人 ちがさき自然エネルギーネットワーク（REN）</p>
    <p>特定非営利活動法人 NPOパパラギ　“海と自然の教室”</p>

  <% when ["8", "2", "2", "2"] %>
    <h6>災害救援</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["9", "2", "2", "2"] %>
    <h6>地域安全</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["10", "2", "2", "2"] %>
    <h6>人権擁護・平和推進</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["11", "2", "2", "2"] %>
    <h6>国際協力</h6>
    <p>茅ヶ崎市国際交流協会</p>
    <p>サンチャイ・ネパール ねぱるぱ</p>

  <% when ["12", "2", "2", "2"] %>
    <h6>男女共同参画</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["13", "2", "2", "2"] %>
    <h6>子どもの健全育成</h6>
    <p>布えほんグループ「コスモス｣</p>
    <p>サンチャイ・ネパール ねぱるぱ</p>
    <p>湘南SHOW点 （しょうなんしょーてん）</p>
    <p>NPO法人 赤ちゃんからのアートフレンドシップ協会</p>
    <p>みんなの居場所 びすた～り</p>

  <% when ["14", "2", "2", "2"] %>
    <h6>情報化社会</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["15", "2", "2", "2"] %>
    <h6>科学技術振興</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["16", "2", "2", "2"] %>
    <h6>経済の活性化</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["17", "2", "2", "2"] %>
    <h6>職業能力開発</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["18", "2", "2", "2"] %>
    <h6>消費者保護</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["19", "2", "2", "2"] %>
    <h6>活動の連絡・助言・援助</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["1", "2", "2", "3"] %>
    <h6>保険・医療・福祉</h6>
    <p>特定非営利活動法人 なかまの家</p>
    <p>特定非営利活動法人 松の実会　地域活動支援センター　みらまーる</p>
    <p>特定非営利活動法人 松の実会</p>
    <p>地域活動支援センター　サザンベア</p>

  <% when ["2", "2", "2", "3"] %>
    <h6>社会教育</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>
  
  <% when ["3", "2", "2", "3"] %>
    <h6>まちづくり</h6>
    <p>認定特定非営利活動法人 ＮＰＯサポートちがさき（さぽちが）</p>
    <p>特定非営利活動法人 ワーカーズ・コレクティブ　ほっぺ</p>
    <p>認定特定非営利活動法人 まちづくりスポット茅ヶ崎</p>

  <% when ["4", "2", "2", "3"] %>
    <h6>観光振興</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["5", "2", "2", "3"] %>
    <h6>農村漁村・中山間地域</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["6", "2", "2", "3"] %>
    <h6>学術・文化・芸術・スポーツ</h6>
    <p>湘南トレッキングクラブ</p>

  <% when ["7", "2", "2", "3"] %>
    <h6>環境保全</h6>
    <p>特定非営利活動法人 WE21ジャパンちがさき</p>

  <% when ["8", "2", "2", "3"] %>
    <h6>災害救援</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["9", "2", "2", "3"] %>
    <h6>地域安全</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["10", "2", "2", "3"] %>
    <h6>人権擁護・平和推進</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["11", "2", "2", "3"] %>
    <h6>国際協力</h6>
    <p>特定非営利活動法人 WE21ジャパンちがさき</p>

  <% when ["12", "2", "2", "3"] %>
    <h6>男女共同参画</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["13", "2", "2", "3"] %>
    <h6>子どもの健全育成</h6>
    <p>認定特定非営利活動法人 ＮＰＯサポートちがさき（さぽちが）</p>
    <p>特定非営利活動法人 ワーコレたんぽぽひろば</p>

  <% when ["14", "2", "2", "3"] %>
    <h6>情報化社会</h6>
    <p>特定非営利活動法人 パソコンボランティア湘南　(NPO法人パソボラ湘南)</p>

  <% when ["15", "2", "2", "3"] %>
    <h6>科学技術振興</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["16", "2", "2", "3"] %>
    <h6>経済の活性化</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["17", "2", "2", "3"] %>
    <h6>職業能力開発</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["18", "2", "2", "3"] %>
    <h6>消費者保護</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["19", "2", "2", "3"] %>
    <h6>活動の連絡・助言・援助</h6>  
    <p>認定特定非営利活動法人 ＮＰＯサポートちがさき（さぽちが）</p>

  <% when ["1", "2", "3", "1"] %>
    <h6>保険・医療・福祉</h6>
    <p>茅ヶ崎断酒新生会</p>

  <% when ["2", "2", "3", "1"] %>
    <h6>社会教育</h6>
    <p>サザンビーチトーストマスターズクラブ</p>
  
  <% when ["3", "2", "3", "1"] %>
    <h6>まちづくり</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["4", "2", "3", "1"] %>
    <h6>観光振興</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["5", "2", "3", "1"] %>
    <h6>農村漁村・中山間地域</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["6", "2", "3", "1"] %>
    <h6>学術・文化・芸術・スポーツ</h6>
    <p>カント・レガーロ</p>
    <p>合気会公認道場　相模合気会</p>
    <p>やまびこ歌の会</p>
    <p>フラサークル　カメアロハ</p>
    <p>柳島写経会</p>
    <p>茅ヶ崎スクエアダンスクラブ</p>
    <p>湘南おわら四季の会</p>
    <p>日本吟心流詩吟 國峰会 （にほんぎんしんりゅうしぎん こくほうかい）</p>
    <p>ハウオリ マーリエ フラ</p>
    <p>神奈川吟和会　茅ヶ崎岳風会 （かながわぎんわかい　ちがさきがくふうかい）</p>
    <p>松林MSC（メンズ・スポーツ・クラブ）</p>

  <% when ["7", "2", "3", "1"] %>
    <h6>環境保全</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["8", "2", "3", "1"] %>
    <h6>災害救援</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["9", "2", "3", "1"] %>
    <h6>地域安全</h6>
    <p>茅ヶ崎断酒新生会</p>

  <% when ["10", "2", "3", "1"] %>
    <h6>人権擁護・平和推進</h6>
    <p>公益社団法人 アムネスティ・インターナショナル日本湘南グループ</p>
    <p>朗読の会　心音 （ろうどくのかい　ここね）</p>

  <% when ["11", "2", "3", "1"] %>
    <h6>国際協力</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["12", "2", "3", "1"] %>
    <h6>男女共同参画</h6>
    <p>茅ヶ崎断酒新生会</p>

  <% when ["13", "2", "3", "1"] %>
    <h6>子どもの健全育成</h6>
    <p>合気会公認道場　相模合気会</p>

  <% when ["14", "2", "3", "1"] %>
    <h6>情報化社会</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["15", "2", "3", "1"] %>
    <h6>科学技術振興</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["16", "2", "3", "1"] %>
    <h6>経済の活性化</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["17", "2", "3", "1"] %>
    <h6>職業能力開発</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["18", "2", "3", "1"] %>
    <h6>消費者保護</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["19", "2", "3", "1"] %>
    <h6>活動の連絡・助言・援助</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["1", "2", "3", "2"] %>
    <h6>保険・医療・福祉</h6>
    <p>茅ヶ崎寒川地区自閉症児・者親の会（茅ヶ崎・寒川やまびこ）</p>

  <% when ["2", "2", "3", "2"] %>
    <h6>社会教育</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>
  
  <% when ["3", "2", "3", "2"] %>
    <h6>まちづくり</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["4", "2", "3", "2"] %>
    <h6>観光振興</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["5", "2", "3", "2"] %>
    <h6>農村漁村・中山間地域</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["6", "2", "3", "2"] %>
    <h6>学術・文化・芸術・スポーツ</h6>
    <p>湘南マジシャンズクラブ</p>
    <p>女声合唱団　湘南はまゆう</p>
    <p>茅ヶ崎市民美術サークル</p>
    <p>茅ヶ崎良い映画を観る会 （ちがさきよいえいがをみるかい）</p>
    <p>湘南シティ合唱団</p>
    <p>すこやかコーラス</p>
    <p>リトルアポロンズ</p>
    <p>茅ヶ崎市文化団体協議会</p>
    <p>劇団湘南山猫</p>
    <p>認定NPO法人 湘南フィルハーモニー管弦楽団</p>
    <p>メイジャ・マクレ茅ヶ崎</p>

  <% when ["7", "2", "3", "2"] %>
    <h6>環境保全</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["8", "2", "3", "2"] %>
    <h6>災害救援</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["9", "2", "3", "2"] %>
    <h6>地域安全</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["10", "2", "3", "2"] %>
    <h6>人権擁護・平和推進</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["11", "2", "3", "2"] %>
    <h6>国際協力</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["12", "2", "3", "2"] %>
    <h6>男女共同参画</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["13", "2", "3", "2"] %>
    <h6>子どもの健全育成</h6>
    <p>B.exciting　（びー. えきさいてぃんぐ）</p>
    <p>ボーイスカウト茅ヶ崎第二団</p>

  <% when ["14", "2", "3", "2"] %>
    <h6>情報化社会</h6>
    <p>NPO法人 セカンドワーク協会</p>

  <% when ["15", "2", "3", "2"] %>
    <h6>科学技術振興</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["16", "2", "3", "2"] %>
    <h6>経済の活性化</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["17", "2", "3", "2"] %>
    <h6>職業能力開発</h6>
    <p>NPO法人 セカンドワーク協会</p>

  <% when ["18", "2", "3", "2"] %>
    <h6>消費者保護</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["19", "2", "3", "2"] %>
    <h6>活動の連絡・助言・援助</h6>
    <p>NPO法人 セカンドワーク協会</p>

  <% when ["1", "2", "3", "3"] %>
    <h6>保険・医療・福祉</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["2", "2", "3", "3"] %>
    <h6>社会教育</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>
  
  <% when ["3", "2", "3", "3"] %>
    <h6>まちづくり</h6>
    <p>特定非営利活動法人 湘南スタイル</p>
    <p>認定NPO法人 湘南ふじさわシニアネット（SFS）</p>

  <% when ["4", "2", "3", "3"] %>
    <h6>観光振興</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["5", "2", "3", "3"] %>
    <h6>農村漁村・中山間地域</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["6", "2", "3", "3"] %>
    <h6>学術・文化・芸術・スポーツ</h6>
    <p>NPO法人 茅ヶ崎演劇鑑賞会</p>

  <% when ["7", "2", "3", "3"] %>
    <h6>環境保全</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["8", "2", "3", "3"] %>
    <h6>災害救援</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["9", "2", "3", "3"] %>
    <h6>地域安全</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["10", "2", "3", "3"] %>
    <h6>人権擁護・平和推進</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["11", "2", "3", "3"] %>
    <h6>国際協力</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["12", "2", "3", "3"] %>
    <h6>男女共同参画</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["13", "2", "3", "3"] %>
    <h6>子どもの健全育成</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["14", "2", "3", "3"] %>
    <h6>情報化社会</h6>
    <p>認定NPO法人 湘南ふじさわシニアネット（SFS）</p>

  <% when ["15", "2", "3", "3"] %>
    <h6>科学技術振興</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["16", "2", "3", "3"] %>
    <h6>経済の活性化</h6>
    <p>特定非営利活動法人 湘南スタイル</p>
    <p>認定NPO法人 湘南ふじさわシニアネット（SFS）</p>

  <% when ["17", "2", "3", "3"] %>
    <h6>職業能力開発</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["18", "2", "3", "3"] %>
    <h6>消費者保護</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["19", "2", "3", "3"] %>
    <h6>活動の連絡・助言・援助</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["1", "3", "1", "1"] %>
    <h6>保険・医療・福祉</h6>
    <p>松林ケアセンター　友の会</p>
    <p>湘南オンラインフレネ</p>
    <p>訪問カット茅ヶ崎</p>
    <p>一般社団法人 神奈川健康生きがいづくりｱﾄﾞﾊﾞｲｻﾞｰ協議会湘南地区ﾈｯﾄ</p>
    <p>医療生協かながわ・茅ヶ崎寒川ブロック</p>
    <p>一般社団法人 まるわ福祉会　成年後見相談室ひまわり</p>
    <p>PuHU ～わくわくする健康おせっかい～（旧コミュニティナース茅ヶ崎）</p>
    <p>にじカフェ</p>
    <p>乳がんサポート湘南ちがさき　Akala</p>
    <p>にじいろ・ひまわり</p>
    <p>縁側なないろ</p>
    <p>湘南しゅわ市場</p>
    <p>Horse Buddy （ほーすばでぃ）</p>

  <% when ["2", "3", "1", "1"] %>
    <h6>社会教育</h6>
    <p>茅ヶ崎市明るい選挙推進協議会</p>
    <p>ザ・フラワーワゴン</p>
    <p>茅ヶ崎CAD部</p>
    <p>特定非営利活動法人 こども応援丸</p>
    <p>茅ヶ崎純水館研究会</p>
    <p>にじカフェ</p>
    <p>シニアダンスサポート</p>
    <p>縁側なないろ</p>
    <p>オーガニッカーちがさき</p>
    <p>ARTノTANEMAKi （あーとのたねまき）</p>
    <p>不登校・子どもの居場所ネットワークちがさき</p>
    <p>ちがさき本すきクラブ</p>
    <p>わわわのわ</p>
    <p>HSC・不登校のための居場所　つむぐ</p>
  
  <% when ["3", "3", "1", "1"] %>
    <h6>まちづくり</h6>
    <p>わ・ちがさき</p>
    <p>一般社団法人 神奈川健康生きがいづくりｱﾄﾞﾊﾞｲｻﾞｰ協議会湘南地区ﾈｯﾄ</p>
    <p>赤とんぼ・甚句を歌う 茅ヶ崎と山田耕筰の会</p>
    <p>マザーアース茅ヶ崎</p>
    <p>特定非営利活動法人 こども応援丸</p>
    <p>未来を考える市民の会</p>
    <p>PuHU ～わくわくする健康おせっかい～（旧コミュニティナース茅ヶ崎）</p>
    <p>メディア茅ヶ崎</p>
    <p>マルシェ「みちくさ」</p>
    <p>縁側なないろ</p>
    <p>TAKURAMI不動産</p>
    <p>茅ヶ崎市消費者団体連絡会</p>
    <p>Horse Buddy （ほーすばでぃ）</p>
    <p>わわわのわ</p>

  <% when ["4", "3", "1", "1"] %>
    <h6>観光振興</h6>
    <p>ふくの会</p>

  <% when ["5", "3", "1", "1"] %>
    <h6>農村漁村・中山間地域</h6>
    <p>オーガニッカーちがさき</p>

  <% when ["6", "3", "1", "1"] %>
    <h6>学術・文化・芸術・スポーツ</h6>
    <p>円蔵ネットワーク</p>
    <p>歌声サロン「チーパッパ」</p>
    <p>MOA茅ヶ崎健康生活ネットワーク</p>
    <p>茅ヶ崎ヴォイス</p>
    <p>赤とんぼ・甚句を歌う 茅ヶ崎と山田耕筰の会</p>
    <p>シネマテーク茅ヶ崎</p>
    <p>茅ヶ崎純水館研究会</p>
    <p>シニアダンスサポート</p>
    <p>湘南しゅわ市場</p>
    <p>ARTノTANEMAKi （あーとのたねまき）</p>

  <% when ["7", "3", "1", "1"] %>
    <h6>環境保全</h6>
    <p>新宿自治会 草遊会</p>
    <p>あぱあぱの木</p>
    <p>Chigasaki Cat’s Protect</p>
    <p>湘南ウキブイ</p>
    <p>湘南みつばち倶楽部</p>
    <p>チームみつばち</p>
    <p>わんにゃんマルシェ</p>
    <p>松浪フラワーコミュニティ</p>

  <% when ["8", "3", "1", "1"] %>
    <h6>災害救援</h6>
    <p>生き抜く力を育む協議会（声のリレー）</p>

  <% when ["9", "3", "1", "1"] %>
    <h6>地域安全</h6>
    <p>スマイルパークこわだ愛護会</p>
    <p>ラチエン通りの安全・安心を進める会</p>
    <p>鶴嶺学区の子どもを守る会</p>
    <p>KEEP LEFT PROJECT</p>
    <p>マザーアース茅ヶ崎</p>
    <p>茅ヶ崎市消費者団体連絡会</p>

  <% when ["10", "3", "1", "1"] %>
    <h6>人権擁護・平和推進</h6>
    <p>ピースカフェ・ちがさき</p>
    <p>九条の会・ちがさき</p>
    <p>あぱあぱの木</p>
    <p>ヒロシマを語る会－神奈川</p>
    <p>9の日スタンディング★ちがさき</p>
    <p>にじ色のたねを育てる会</p>
    <p>茅ヶ崎パトロール「チムグリサの会」</p>
    <p>湘南しゅわ市場</p>

  <% when ["11", "3", "1", "1"] %>
    <h6>国際協力</h6>
    <p>リメイクチーム</p>

  <% when ["12", "3", "1", "1"] %>
    <h6>男女共同参画</h6>
    <p>にじ色のたねを育てる会</p>
    <p>シニアダンスサポート</p>

  <% when ["13", "3", "1", "1"] %>
    <h6>子どもの健全育成</h6>
    <p>にこにこサークル</p>
    <p>茅ヶ崎おはなしの会</p>
    <p>ちがぼ～（茅ヶ崎に冒険あそび場をつくろう会）</p>
    <p>特定非営利活動法人 セカンドブックアーチ</p>
    <p>わ・ちがさき</p>
    <p>湘南みつばち倶楽部</p>
    <p>めだかの学校</p>
    <p>未来の瞳</p>
    <p>トライ</p>
    <p>OTO-TOYハウス （おとといはうす）</p>
    <p>子ども未来塾・子ども未来塾～創（つくる）</p>
    <p>赤とんぼ・甚句を歌う 茅ヶ崎と山田耕筰の会</p>
    <p>キーパーソン21湘南</p>
    <p>特定非営利活動法人 こども応援丸</p>
    <p>にじカフェ</p>
    <p>マルシェ「みちくさ」</p>
    <p>オーガニッカーちがさき</p>
    <p>ARTノTANEMAKi （あーとのたねまき）</p>
    <p>不登校・子どもの居場所ネットワークちがさき</p>
    <p>Horse Buddy （ほーすばでぃ）</p>
    <p>わわわのわ</p>
    <p>HSC・不登校のための居場所　つむぐ</p>

  <% when ["14", "3", "1", "1"] %>
    <h6>情報化社会</h6>
    <p>メディア茅ヶ崎</p>

  <% when ["15", "3", "1", "1"] %>
    <h6>科学技術振興</h6>
    <p>茅ヶ崎CAD部</p>

  <% when ["16", "3", "1", "1"] %>
    <h6>経済の活性化</h6>
    <p>TAKURAMI不動産</p>

  <% when ["17", "3", "1", "1"] %>
    <h6>職業能力開発</h6>
    <p>湘南オンラインフレネ</p>
    <p>茅ヶ崎CAD部</p>

  <% when ["18", "3", "1", "1"] %>
    <h6>消費者保護</h6>
    <p>茅ヶ崎市消費者団体連絡会</p>

  <% when ["19", "3", "1", "1"] %>
    <h6>活動の連絡・助言・援助</h6>
    <p>ちがさき市民オンブズマン</p>

  <% when ["1", "3", "1", "2"] %>
    <h6>保険・医療・福祉</h6>
    <p>特定非営利活動法人 ポラリス湘南</p>
    <p>NPO法人 湘南シニアサービス</p>
    <p>特定非営利活動法人 萩桜会 （しゅうおうかい）</p>
    <p>ガーゼ帽子を縫う会</p>
    <p>凸凹を組み合わせ隊</p>
    <p>湘南のきさきフルーツプロジェクト</p>

  <% when ["2", "3", "1", "2"] %>
    <h6>社会教育</h6>
    <p>ちがさき開智舎</p>
    <p>湘南１Ｌｅｂｅｎ</p>
    <p>特定非営利活動法人 もったいないジャパン</p>
  
  <% when ["3", "3", "1", "2"] %>
    <h6>まちづくり</h6>
    <p>ゆめたい</p>
    <p>凸凹を組み合わせ隊</p>
    <p>ヒーリングマルシェ湘南</p>
    <p>湘南のきさきフルーツプロジェクト</p>

  <% when ["4", "3", "1", "2"] %>
    <h6>観光振興</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["5", "3", "1", "2"] %>
    <h6>農村漁村・中山間地域</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["6", "3", "1", "2"] %>
    <h6>学術・文化・芸術・スポーツ</h6>
    <p>TAMURA　KING</p>

  <% when ["7", "3", "1", "2"] %>
    <h6>環境保全</h6>
    <p>特定非営利活動法人 萩桜会 （しゅうおうかい）</p>
    <p>湘南１Ｌｅｂｅｎ</p>
    <p>湘南のきさきフルーツプロジェクト</p>

  <% when ["8", "3", "1", "2"] %>
    <h6>災害救援</h6>
    <p>Team Aid for Japan～しょうなん茅ヶ崎災害ボランティア</p>
    <p>防災スイッチオン！プロジェクト</p>

  <% when ["9", "3", "1", "2"] %>
    <h6>地域安全</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["10", "3", "1", "2"] %>
    <h6>人権擁護・平和推進</h6>
    <p>ちがさき開智舎</p>

  <% when ["11", "3", "1", "2"] %>
    <h6>国際協力</h6>
    <p>特定非営利活動法人 もったいないジャパン</p>
    <p>TAMURA　KING</p>

  <% when ["12", "3", "1", "2"] %>
    <h6>男女共同参画</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["13", "3", "1", "2"] %>
    <h6>子どもの健全育成</h6>
    <p>特定非営利活動法人 萩桜会 （しゅうおうかい）</p>
    <p>特定非営利活動法人 ちがけせんプロジェクト</p>
    <p>ちがさき開智舎</p>
    <p>湘南１Ｌｅｂｅｎ</p>
    <p>鶴が台名店街に地域の居場所をつくる会</p>
    <p>ヒーリングマルシェ湘南</p>
    <p>幸町こども食堂おいしいねの会</p>

  <% when ["14", "3", "1", "2"] %>
    <h6>情報化社会</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["15", "3", "1", "2"] %>
    <h6>科学技術振興</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["16", "3", "1", "2"] %>
    <h6>経済の活性化</h6>
    <p>TAMURA　KING</p>

  <% when ["17", "3", "1", "2"] %>
    <h6>職業能力開発</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["18", "3", "1", "2"] %>
    <h6>消費者保護</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["19", "3", "1", "2"] %>
    <h6>活動の連絡・助言・援助</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["1", "3", "1", "3"] %>
    <h6>保険・医療・福祉</h6>
    <p>社会福祉法人 碧 （あお）</p>
    <p>特定非営利活動法人 松の実会　地域活動支援センター　パインナッツ</p>
    <p>特定非営利活動法人 ワーカーズ・コレクティブ　一心</p>
    <p>特定非営利活動法人 あいむ 湘南</p>
    <p>社会福祉法人 翔の会　ブルーベリー</p>
    <p>茅ヶ崎市社会福祉事業団・ふれあい活動ホームあかしあ</p>
    <p>特定非営利活動法人 湘南メンタル福祉サービス</p>
    <p>特定非営利活動法人 ちがサポ</p>
    <p>一般社団法人 エール茅ヶ崎</p>

  <% when ["2", "3", "1", "3"] %>
    <h6>社会教育</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>
  
  <% when ["3", "3", "1", "3"] %>
    <h6>まちづくり</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["4", "3", "1", "3"] %>
    <h6>観光振興</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["5", "3", "1", "3"] %>
    <h6>農村漁村・中山間地域</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["6", "3", "1", "3"] %>
    <h6>学術・文化・芸術・スポーツ</h6>
    <p>認定NPO法人 Ocean’s Love</p>

  <% when ["7", "3", "1", "3"] %>
    <h6>環境保全</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["8", "3", "1", "3"] %>
    <h6>災害救援</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["9", "3", "1", "3"] %>
    <h6>地域安全</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["10", "3", "1", "3"] %>
    <h6>人権擁護・平和推進</h6>
    <p>特定非営利活動法人 湘南ふくしネットワークオンブズマン</p>
    <p>認定NPO法人 Ocean’s Love</p>

  <% when ["11", "3", "1", "3"] %>
    <h6>国際協力</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["12", "3", "1", "3"] %>
    <h6>男女共同参画</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["13", "3", "1", "3"] %>
    <h6>子どもの健全育成</h6>
    <p>特定非営利活動法人 ちがさき学童保育の会</p>
    <p>認定NPO法人 Ocean’s Love</p>

  <% when ["14", "3", "1", "3"] %>
    <h6>情報化社会</h6>
    <p>一般社団法人 エール茅ヶ崎</p>

  <% when ["15", "3", "1", "3"] %>
    <h6>科学技術振興</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["16", "3", "1", "3"] %>
    <h6>経済の活性化</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["17", "3", "1", "3"] %>
    <h6>職業能力開発</h6>
    <p>一般社団法人 エール茅ヶ崎</p>

  <% when ["18", "3", "1", "3"] %>
    <h6>消費者保護</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["19", "3", "1", "3"] %>
    <h6>活動の連絡・助言・援助</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>
  
  <% when ["1", "3", "2", "1"] %>
    <h6>保険・医療・福祉</h6>
    <p>茅ヶ崎録音ボランティアなかま</p>
    <p>にこにこクラブ</p>
    <p>愛のハガキグループ　一葉会</p>
    <p>茅ヶ崎誘導グループ　草笛</p>
    <p>茅ヶ崎録音奉仕会</p>
    <p>介護ボランティア　ポテトの会</p>
    <p>手話サークル フレンズ</p>
    <p>手話サークル茅の会</p>
    <p>茅ヶ崎手話サークル松の会</p>
    <p>仲間づくりかよう会</p>
    <p>筆記通訳サークル「虹」</p>
    <p>茅ヶ崎市肢体不自由児者父母の会</p>
    <p>小さな手</p>
    <p>茅ヶ崎市食生活改善推進団体　茅波会</p>
    <p>茅ヶ崎市地域作業所連絡会</p>
    <p>湘南おやじの会</p>
    <p>茅ヶ崎市視覚障害者福祉協会</p>
    <p>茅ヶ崎市聴覚障害者協会</p>
    <p>みんなのサロン「和」（なごみ）</p>
    <p>傾聴ボランティア茅ヶ崎</p>
    <p>家族ピア　ハートフルひまわり</p>
    <p>このゆびとぉ～まれ。</p>
    <p>茅ヶ崎ラフターヨガクラブ</p>
    <p>茅ヶ崎楽友会 （ちがさきらくゆうかい）</p>
    <p>プレシャスハート</p>
    <p>茅ヶ崎市合理的配慮促進条例を考える会</p>
    <p>失語症会話カフェ茅ヶ崎</p>

  <% when ["2", "3", "2", "1"] %>
    <h6>社会教育</h6>
    <p湘南シニアクラブ</p>
    <p>茅ヶ崎民話の会</p>
    <p>茅ヶ崎郷土会</p>
    <p>特定非営利活動法人 コネット湘南</p>
    <p>NPO法人 ゆい</p>
    <p>茅ヶ崎紙芝居研究会“さわやか”</p>
    <p>ふらっと南湖</p>
  
  <% when ["3", "3", "2", "1"] %>
    <h6>まちづくり</h6>
    <p>茅ヶ崎・ハーブを植える会</p>
    <p>茅ヶ崎郷土会</p>
    <p>フォーラム　ちがさき</p>
    <p>平和・民主・革新の日本をめざす茅ヶ崎の会（茅ヶ崎革新懇）</p>
    <p>円蔵睦会 （えんぞうむつみかい）</p>
    <p>神奈川県地球温暖化防止活動推進員湘南グループ</p>
    <p>柳灯会 （りゅうとうかい）</p>
    <p>フリースペース　ら・ぱれっと</p>
    <p>ＧＥＮＫＩ プロジェクト</p>
    <p>茅ヶ崎市合理的配慮促進条例を考える会</p>

  <% when ["4", "3", "2", "1"] %>
    <h6>観光振興</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["5", "3", "2", "1"] %>
    <h6>農村漁村・中山間地域</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["6", "3", "2", "1"] %>
    <h6>学術・文化・芸術・スポーツ</h6>
    <p>茅ヶ崎・宮澤賢治の会</p>
    <p>「山田耕筰」と「赤とんぼ」を愛する会</p>
    <p>茅ヶ崎民話の会</p>
    <p>茅ヶ崎走友会</p>
    <p>茅ヶ崎フロアボール協会</p>
    <p>茅ヶ崎紙芝居研究会“さわやか”</p>
    <p>NPO法人 湘南芸術研究所</p>
    <p>建築デザインクラブ</p>
    <p>フォークを唄おう</p>
    <p>湘南を記録する会</p>
    <p>リメイクチーム</p>
    <p>プレシャスハート</p>
    <p>小さな教室　カクツクル</p>
    <p>新ハイキングクラブ 横浜支部</p>
    <p>ちがさき和食文化継承会</p>

  <% when ["7", "3", "2", "1"] %>
    <h6>環境保全</h6>
    <p>ほのぼのビーチ茅ヶ崎</p>
    <p>香川自然観察会</p>
    <p>小出川に親しむ会</p>
    <p>柳谷の自然に学ぶ会</p>
    <p>清水谷を愛する会</p>
    <p>駒寄川　水と緑と風の会</p>
    <p>特定非営利活動法人 環境勘察グループ　あおい。くじら</p>
    <p>NPO法人 ゆい</p>
    <p>湘南ネコ33 （しょうなんねこみみ）</p>
    <p>リメイクチーム</p>
    <p>相模川の河畔林を育てる会</p>
    <p>Ｃ３大作戦 （しーすりーだいさくせん）</p>

  <% when ["8", "3", "2", "1"] %>
    <h6>災害救援</h6>
    <p>茅ヶ崎セフティコミュニティアマチュア無線クラブ</p>

  <% when ["9", "3", "2", "1"] %>
    <h6>地域安全</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["10", "3", "2", "1"] %>
    <h6>人権擁護・平和推進</h6>
    <p>平和を考える茅ヶ崎市民の会　実行委員会</p>
    <p>原水爆禁止茅ヶ崎市協議会（市原水協）</p>
    <p>ミクシテ「茅ヶ崎市ジェンダー平等推進計画」を推進する会</p>
    <p>ふらっと南湖</p>

  <% when ["11", "3", "2", "1"] %>
    <h6>国際協力</h6>
    <p>ネパール教育支援の会NESA茅ヶ崎事務所</p>
    <p>茅ヶ崎ホノルル姉妹都市応援団</p>

  <% when ["12", "3", "2", "1"] %>
    <h6>男女共同参画</h6>
    <p>ミクシテ「茅ヶ崎市ジェンダー平等推進計画」を推進する会</p>

  <% when ["13", "3", "2", "1"] %>
    <h6>子どもの健全育成</h6>
    <p>きらきらぼし（子育ち応援する会）</p>
    <p>茅ヶ崎市子ども会連絡協議会</p>
    <p>茅ヶ崎市・寒川町地域活動栄養士　にんじんの会</p>
    <p>特定非営利活動法人 環境勘察グループ　あおい。くじら</p>
    <p>えぼしクラブ</p>
    <p>茅ヶ崎紙芝居研究会“さわやか”</p>
    <p>子育て支援グループ　チーム・ミモザ</p>
    <p>ソーラーハウスにしかわ</p>
    <p>ミナスタ</p>
    <p>プレシャスハート</p>
    <p>ふらっと南湖</p>
    <p>小さな教室　カクツクル</p>
    <p>Ｃ３大作戦 （しーすりーだいさくせん）</p>
    <p>ちがさきこどもマルシェ実行委員会</p>

  <% when ["14", "3", "2", "1"] %>
    <h6>情報化社会</h6>
    <p>Web研（旧オンラインホームページサークル）</p>
    <p>Chigasaki Wave Club （ちがさき うえーぶ くらぶ）</p>

  <% when ["15", "3", "2", "1"] %>
    <h6>科学技術振興</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["16", "3", "2", "1"] %>
    <h6>経済の活性化</h6>
    <p>ちがさきこどもマルシェ実行委員会</p>

  <% when ["17", "3", "2", "1"] %>
    <h6>職業能力開発</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["18", "3", "2", "1"] %>
    <h6>消費者保護</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["19", "3", "2", "1"] %>
    <h6>活動の連絡・助言・援助</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["1", "3", "2", "2"] %>
    <h6>保険・医療・福祉</h6>
    <p>ボランティア香川</p>
    <p>茅ヶ崎手をつなぐ育成会</p>
    <p>茅ヶ崎市手話通訳者連絡会</p>
    <p>イーハトーブ湘南</p>
    <p>特定非営利活動法人 ウェルフェアポート湘南 神奈川介助犬・聴導犬協会</p>
    <p>サンチャイ・ネパール ねぱるぱ</p>
    <p>NPO法人 ニッポン・アクティブライフ・クラブ湘南ブロック</p>
    <p>地域のお茶の間研究所　さろんどて</p>
    <p>みんなの居場所 びすた～り</p>

  <% when ["2", "3", "2", "2"] %>
    <h6>社会教育</h6>
    <p>布えほんグループ「コスモス｣</p>
    <p>茅ヶ崎の社会教育を考える会</p>
    <p>NPO法人 赤ちゃんからのアートフレンドシップ協会</p>
    <p>一般社団法人 リトルハブホーム</p>
  
  <% when ["3", "3", "2", "2"] %>
    <h6>まちづくり</h6>
    <p>イーハトーブ湘南</p>
    <p>地域のお茶の間研究所　さろんどて</p>
    <p>NPO法人 ＡＳＯＶＩＶＡＲＴ （あそびばーと）</p>
    <p>一般社団法人 リトルハブホーム</p>

  <% when ["4", "3", "2", "2"] %>
    <h6>観光振興</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["5", "3", "2", "2"] %>
    <h6>農村漁村・中山間地域</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["6", "3", "2", "2"] %>
    <h6>学術・文化・芸術・スポーツ</h6>
    <p>一般社団法人 茅ヶ崎ラグビースクール</p>
    <p>茅ヶ崎市ターゲット・バードゴルフ協会</p>
    <p>湘南Liebe</p>
    <p>湘南SHOW点 （しょうなんしょーてん）</p>
    <p>日本吟心流詩吟 國舟会 （にっぽんぎんしんりゅうしぎん　こくしゅうかい）</p>
    <p>じゃおクラブ湘南</p>
    <p>NPO法人 赤ちゃんからのアートフレンドシップ協会</p>
    <p>NPO法人 ＡＳＯＶＩＶＡＲＴ （あそびばーと）</p>

  <% when ["7", "3", "2", "2"] %>
    <h6>環境保全</h6>
    <p>NPO法人 ちがさき自然エネルギーネットワーク（REN）</p>
    <p>特定非営利活動法人 NPOパパラギ　“海と自然の教室”</p>
    <p>サーフ90　茅ヶ崎ライフセービングクラブ</p>

  <% when ["8", "3", "2", "2"] %>
    <h6>災害救援</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["9", "3", "2", "2"] %>
    <h6>地域安全</h6>
    <p>サーフ90　茅ヶ崎ライフセービングクラブ</p>

  <% when ["10", "3", "2", "2"] %>
    <h6>人権擁護・平和推進</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["11", "3", "2", "2"] %>
    <h6>国際協力</h6>
    <p>茅ヶ崎市国際交流協会</p>
    <p>サンチャイ・ネパール ねぱるぱ</p>

  <% when ["12", "3", "2", "2"] %>
    <h6>男女共同参画</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["13", "3", "2", "2"] %>
    <h6>子どもの健全育成</h6>
    <p>布えほんグループ「コスモス｣</p>
    <p>特定非営利活動法人 発達サポートネット　バオバブの樹</p>
    <p>サンチャイ・ネパール ねぱるぱ</p>
    <p>湘南SHOW点 （しょうなんしょーてん）</p>
    <p>NPO法人 赤ちゃんからのアートフレンドシップ協会</p>
    <p>サーフ90　茅ヶ崎ライフセービングクラブ</p>
    <p>NPO法人 ＡＳＯＶＩＶＡＲＴ （あそびばーと）</p>
    <p>一般社団法人 リトルハブホーム</p>
    <p>みんなの居場所 びすた～り</p>

  <% when ["14", "3", "2", "2"] %>
    <h6>情報化社会</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["15", "3", "2", "2"] %>
    <h6>科学技術振興</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["16", "3", "2", "2"] %>
    <h6>経済の活性化</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["17", "3", "2", "2"] %>
    <h6>職業能力開発</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["18", "3", "2", "2"] %>
    <h6>消費者保護</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["19", "3", "2", "2"] %>
    <h6>活動の連絡・助言・援助</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["1", "3", "2", "3"] %>
    <h6>保険・医療・福祉</h6>
    <p>特定非営利活動法人 なかまの家</p>
    <p>特定非営利活動法人 松の実会　地域活動支援センター　みらまーる</p>
    <p>特定非営利活動法人 介護の会まつなみ</p>
    <p>特定非営利活動法人 わの会</p>
    <p>認定NPO法人 トムトム</p>
    <p>特定非営利活動法人 松の実会</p>
    <p>翔の会　後援会</p>
    <p>特定非営利活動法人 茅ヶ崎手をつなぐ育成会ウィズ</p>
    <p>特定非営利活動法人 茅ヶ崎ﾕﾆﾊﾞｰｻﾙﾃﾞｻﾞｲﾝｽｸｴｱ地域活動支援ｾﾝﾀｰ楽庵</p>
    <p>地域活動支援センター　サザンベア</p>
    <p>特定非営利活動法人 FUN SHINE　 （ふぁん しゃいん）</p>

  <% when ["2", "3", "2", "3"] %>
    <h6>社会教育</h6>
    <p>NPO法人 森の仔じゆうがっこう</p>
  
  <% when ["3", "3", "2", "3"] %>
    <h6>まちづくり</h6>
    <p>特定非営利活動法人 介護の会まつなみ</p>
    <p>認定特定非営利活動法人 ＮＰＯサポートちがさき（さぽちが）</p>
    <p>特定非営利活動法人 ワーカーズ・コレクティブ　ほっぺ</p>
    <p>特定非営利活動法人 湘南市民メディアネットワーク</p>
    <p>認定特定非営利活動法人 まちづくりスポット茅ヶ崎</p>

  <% when ["4", "3", "2", "3"] %>
    <h6>観光振興</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["5", "3", "2", "3"] %>
    <h6>農村漁村・中山間地域</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["6", "3", "2", "3"] %>
    <h6>学術・文化・芸術・スポーツ</h6>
    <p>特定非営利活動法人 バク・アップ・ネット</p>
    <p>特定非営利活動法人 茅ヶ崎野球協会</p>
    <p>湘南トレッキングクラブ</p>

  <% when ["7", "3", "2", "3"] %>
    <h6>環境保全</h6>
    <p>特定非営利活動法人 WE21ジャパンちがさき</p>

  <% when ["8", "3", "2", "3"] %>
    <h6>災害救援</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["9", "3", "2", "3"] %>
    <h6>地域安全</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["10", "3", "2", "3"] %>
    <h6>人権擁護・平和推進</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["11", "3", "2", "3"] %>
    <h6>国際協力</h6>
    <p>特定非営利活動法人 WE21ジャパンちがさき</p>

  <% when ["12", "3", "2", "3"] %>
    <h6>男女共同参画</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["13", "3", "2", "3"] %>
    <h6>子どもの健全育成</h6>
    <p>認定NPO法人 トムトム</p>
    <p>認定特定非営利活動法人 ＮＰＯサポートちがさき（さぽちが）</p>
    <p>特定非営利活動法人 ワーコレたんぽぽひろば</p>
    <p>特定非営利活動法人 湘南市民メディアネットワーク</p>
    <p>NPO法人 森の仔じゆうがっこう</p>

  <% when ["14", "3", "2", "3"] %>
    <h6>情報化社会</h6>
    <p>特定非営利活動法人 パソコンボランティア湘南　(NPO法人パソボラ湘南)</p>
    <p>特定非営利活動法人 湘南市民メディアネットワーク</p>

  <% when ["15", "3", "2", "3"] %>
    <h6>科学技術振興</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["16", "3", "2", "3"] %>
    <h6>経済の活性化</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["17", "3", "2", "3"] %>
    <h6>職業能力開発</h6>
    <p>ムリンディ/ジャパン・ワンラブ・プロジェクト</p>

  <% when ["18", "3", "2", "3"] %>
    <h6>消費者保護</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["19", "3", "2", "3"] %>
    <h6>活動の連絡・助言・援助</h6>
    <p>認定特定非営利活動法人 ＮＰＯサポートちがさき（さぽちが）</p>

  <% when ["1", "3", "3", "1"] %>
    <h6>保険・医療・福祉</h6>
    <p>茅ヶ崎断酒新生会</p>

  <% when ["2", "3", "3", "1"] %>
    <h6>社会教育</h6>
    <p>サザンビーチトーストマスターズクラブ</p>
  
  <% when ["3", "3", "3", "1"] %>
    <h6>まちづくり</h6>
    <p>NPO法人 ふるさとファーマーズ</p>

  <% when ["4", "3", "3", "1"] %>
    <h6>観光振興</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["5", "3", "3", "1"] %>
    <h6>農村漁村・中山間地域</h6>
    <p>NPO法人 ふるさとファーマーズ</p>

  <% when ["6", "3", "3", "1"] %>
    <h6>学術・文化・芸術・スポーツ</h6>
    <p>カント・レガーロ</p>
    <p>和楽会「昇」グループ　湘南潮音太鼓</p>
    <p>合気会公認道場　相模合気会</p>
    <p>やまびこ歌の会</p>
    <p>フラサークル　カメアロハ</p>
    <p>柳島写経会</p>
    <p>茅ヶ崎スクエアダンスクラブ</p>
    <p>湘南おわら四季の会</p>
    <p>日本吟心流詩吟 國峰会 （にほんぎんしんりゅうしぎん こくほうかい）</p>
    <p>ハウオリ マーリエ フラ</p>
    <p>神奈川吟和会　茅ヶ崎岳風会 （かながわぎんわかい　ちがさきがくふうかい）</p>
    <p>松林MSC（メンズ・スポーツ・クラブ）</p>

  <% when ["7", "3", "3", "1"] %>
    <h6>環境保全</h6>
    <p>NPO法人 ふるさとファーマーズ</p>

  <% when ["8", "3", "3", "1"] %>
    <h6>災害救援</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["9", "3", "3", "1"] %>
    <h6>地域安全</h6>
    <p>茅ヶ崎断酒新生会</p>

  <% when ["10", "3", "3", "1"] %>
    <h6>人権擁護・平和推進</h6>
    <p>公益社団法人 アムネスティ・インターナショナル日本湘南グループ</p>
    <p>朗読の会　心音 （ろうどくのかい　ここね）</p>

  <% when ["11", "3", "3", "1"] %>
    <h6>国際協力</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["12", "3", "3", "1"] %>
    <h6>男女共同参画</h6>
    <p>茅ヶ崎断酒新生会</p>

  <% when ["13", "3", "3", "1"] %>
    <h6>子どもの健全育成</h6>
    <p>ひよこの会</p>
    <p>公益社団法人 ガールスカウト神奈川県連盟第16団</p>
    <p>合気会公認道場　相模合気会</p>
    <p>ボーイスカウト茅ヶ崎第一団</p>

  <% when ["14", "3", "3", "1"] %>
    <h6>情報化社会</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["15", "3", "3", "1"] %>
    <h6>科学技術振興</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["16", "3", "3", "1"] %>
    <h6>経済の活性化</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["17", "3", "3", "1"] %>
    <h6>職業能力開発</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["18", "3", "3", "1"] %>
    <h6>消費者保護</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["19", "3", "3", "1"] %>
    <h6>活動の連絡・助言・援助</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["1", "3", "3", "2"] %>
    <h6>保険・医療・福祉</h6>
    <p>茅ヶ崎寒川地区自閉症児・者親の会（茅ヶ崎・寒川やまびこ）</p>
    <p>一般社団法人 ４Hearts （ふぉーはーつ）</p>

  <% when ["2", "3", "3", "2"] %>
    <h6>社会教育</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>
  
  <% when ["3", "3", "3", "2"] %>
    <h6>まちづくり</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["4", "3", "3", "2"] %>
    <h6>観光振興</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["5", "3", "3", "2"] %>
    <h6>農村漁村・中山間地域</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["6", "3", "3", "2"] %>
    <h6>学術・文化・芸術・スポーツ</h6>
    <p>湘南マジシャンズクラブ</p>
    <p>女声合唱団　湘南はまゆう</p>
    <p>茅ヶ崎市民美術サークル</p>
    <p>茅ヶ崎良い映画を観る会 （ちがさきよいえいがをみるかい）</p>
    <p>湘南シティ合唱団</p>
    <p>すこやかコーラス</p>
    <p>リトルアポロンズ</p>
    <p>茅ヶ崎市文化団体協議会</p>
    <p>劇団湘南山猫</p>
    <p>認定NPO法人 湘南フィルハーモニー管弦楽団</p>
    <p>メイジャ・マクレ茅ヶ崎</p>
    <p>特定非営利活動法人 SUPUスタンドアップパドルユニオン</p>

  <% when ["7", "3", "3", "2"] %>
    <h6>環境保全</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["8", "3", "3", "2"] %>
    <h6>災害救援</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["9", "3", "3", "2"] %>
    <h6>地域安全</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["10", "3", "3", "2"] %>
    <h6>人権擁護・平和推進</h6>
    <p>全日本年金者組合・茅ヶ崎支部</p>

  <% when ["11", "3", "3", "2"] %>
    <h6>国際協力</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["12", "3", "3", "2"] %>
    <h6>男女共同参画</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["13", "3", "3", "2"] %>
    <h6>子どもの健全育成</h6>
    <p>茅ヶ崎おやこ劇場</p>
    <p>一般社団法人 湘南サドベリースクール</p>
    <p>B.exciting　（びー. えきさいてぃんぐ）</p>
    <p>ボーイスカウト茅ヶ崎第二団</p>

  <% when ["14", "3", "3", "2"] %>
    <h6>情報化社会</h6>
    <p>NPO法人 セカンドワーク協会</p>

  <% when ["15", "3", "3", "2"] %>
    <h6>科学技術振興</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["16", "3", "3", "2"] %>
    <h6>経済の活性化</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["17", "3", "3", "2"] %>
    <h6>職業能力開発</h6>
    <p>NPO法人 セカンドワーク協会</p>

  <% when ["18", "3", "3", "2"] %>
    <h6>消費者保護</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["19", "3", "3", "2"] %>
    <h6>活動の連絡・助言・援助</h6>
    <p>NPO法人 セカンドワーク協会</p>

  <% when ["1", "3", "3", "3"] %>
    <h6>保険・医療・福祉</h6>
    <p>NPO法人 森の仔じゆうがっこう</p>

  <% when ["2", "3", "3", "3"] %>
    <h6>社会教育</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>
  
  <% when ["3", "3", "3", "3"] %>
    <h6>まちづくり</h6>
    <p>特定非営利活動法人 湘南スタイル</p>
    <p>認定NPO法人 湘南ふじさわシニアネット（SFS）</p>

  <% when ["4", "3", "3", "3"] %>
    <h6>観光振興</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["5", "3", "3", "3"] %>
    <h6>農村漁村・中山間地域</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["6", "3", "3", "3"] %>
    <h6>学術・文化・芸術・スポーツ</h6>
    <p>NPO法人 茅ヶ崎演劇鑑賞会</p>
    <p>NPO法人 湘南ベルマーレスポーツクラブ</p>

  <% when ["7", "3", "3", "3"] %>
    <h6>環境保全</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["8", "3", "3", "3"] %>
    <h6>災害救援</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["9", "3", "3", "3"] %>
    <h6>地域安全</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["10", "3", "3", "3"] %>
    <h6>人権擁護・平和推進</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["11", "3", "3", "3"] %>
    <h6>国際協力</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["12", "3", "3", "3"] %>
    <h6>男女共同参画</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["13", "3", "3", "3"] %>
    <h6>子どもの健全育成</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["14", "3", "3", "3"] %>
    <h6>情報化社会</h6>
    <p>認定NPO法人 湘南ふじさわシニアネット（SFS）</p>

  <% when ["15", "3", "3", "3"] %>
    <h6>科学技術振興</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["16", "3", "3", "3"] %>
    <h6>経済の活性化</h6>
    <p>特定非営利活動法人 湘南スタイル</p>
    <p>認定NPO法人 湘南ふじさわシニアネット（SFS）</p>

  <% when ["17", "3", "3", "3"] %>
    <h6>職業能力開発</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["18", "3", "3", "3"] %>
    <h6>消費者保護</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% when ["19", "3", "3", "3"] %>
    <h6>活動の連絡・助言・援助</h6>
    <p>該当する市民活動団体はありませんでした。</p>
		<p>選択を変更して、再診断してください。</p>

  <% end %>
</div>

<div class="result-actions">
  <%= link_to "もう１度診断する", new_association_path, class: "btn btn--primary" %>
  <%= link_to "市民団体検索へ", groupall_statics_path, class: "btn btn--primary" %>
</div>

